<div class="page-content-inner">

  <!-- Dashboard -->
  <div class="row">
    <div class="col-xl-12">
      <div class="pull-right" style="padding: 5px;">
        <button class="btn btn-primary" style="padding: 5px;" ng-click="open('lg')"><i class="fa fa-plus" aria-hidden="true"></i>
          Agregar Servicio</button>
      </div>
    </div>

    <div class="col-xl-12">

      <div class="panel panel-with-borders">

        <div class="panel-body">

          <div class="nav-tabs-horizontal margin-bottom-20">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#h1" role="tab">Servicios</a>
              </li>
            </ul>
          </div>
          <div class="table-responsive">
            <table datatable="ng" class="table table-hover" id="example1" width="100%">
              <thead>
              <tr>
                <th>Plan</th>
                <th>Cliente</th>
                <th>Precio de Instalacion</th>
                <th>Fecha de Instalacion</th>
                <th>Fecha de Facturacion</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="service in services">
                <td>{{service.plan.name}}</td>
                <td>{{service.client.first_name}} {{service.client.last_name}}</td>
                <td>{{service.install_price}}</td>
                <td>{{service.install_date | date:'dd/MM/yyyy'}}</td>
                <td>{{service.invoice_date | date:'dd/MM/yyyy'}}</td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-primary" data-ng-click="editClient(service)"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-danger" data-ng-click="deleteClient(service)"><i class="fa fa-remove"></i></button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Dashboard -->

</div>


<div>
  <script type="text/ng-template" id="myModalContent.html">
    <form id="client" name="clientForm" ng-submit="ok()" novalidate>
      <div class="modal-header">
        <h3 class="modal-title">Agregar Servicios</h3>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-xl-4">
            <label for="">Plan:</label>
            <select ng-options="item.id as item.name for item in plans" name="plan_id" class="form-control" data-ng-model="services.plan_id" style="width:100%" required>
              <option value="">Seleccione un Plan</option>
            </select>
          </div>
          <div class="col-xl-4">
            <label for="">Cliente:</label>
            <select ng-options="item.id as item.first_name + ' ' + item.last_name for item in users" name="client_id" class="form-control" data-ng-model="services.client_id" style="width:100%" required>
              <option value="">Seleccione un Cliente</option>
            </select>
          </div>
          <div class="col-xl-4">
            <label for="">Fecha de Instalacion:</label>
            <input id="validation-email"
                   class="form-control"
                   placeholder="Fecha de Instalacion"
                   ng-model="services.install_date"
                   name="install_date"
                   type="date"
                   required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl-4">
            <label for="">Fecha de Recibo:</label>
            <input id="validation-email"
                   class="form-control"
                   placeholder="Fecha de Recibo"
                   ng-model="services.invoice_date"
                   name="invoice_date"
                   type="date"
                   required>
          </div>
          <div class="col-xl-4">
            <label for="">Precios de Instalacion:</label>
            <input type="number" name="price" data-ng-model="services.install_price"
                   class="form-control"
                   placeholder="Precio de Instalacion"
                   required>
          </div>
          <div class="col-xl-4">
            <label for="">Dias de Credito:</label>
            <input type="number" name="credit_Days" data-ng-model="services.credit_days"
                   class="form-control"
                   placeholder="Dias de Creditos"
                   required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl-6">
            <label for="">Fecha de Inicio:</label>
            <input id="validation-email"
                   class="form-control"
                   placeholder="Fecha de Inicio"
                   ng-model="services.start_date"
                   name="start_date"
                   type="date"
                   required>
          </div>
          <div class="col-xl-6">
            <label for="">Metodo de Notificacion:</label>
            <select type="number" name="credit_Days" data-ng-model="services.notificatios_method"
                   class="form-control"
                   required>
              <option value="">Selecione metodo de Notificacion</option>
              <option value="se">Email y SMS </option>
              <option value="sm">SMS</option>
              <option value="em">Email</option>
              </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl-3">
            <label for="">Ip:</label>
            <input id="validation-email"
                   class="form-control"
                   placeholder="Direccion Ip"
                   ng-model="services.ip"
                   name="ip"
                   type="text"
                   required>
          </div>
          <div class="col-xl-3">
            <label for="">Mac:</label>
            <input id="validation-email"
                   class="form-control"
                   placeholder="Mac"
                   ng-model="services.mac"
                   name="mac"
                   type="text"
                   required>
          </div>
          <div class="col-xl-3">
            <label for="">Servidor:</label>
            <input id="validation-email"
                   class="form-control"
                   placeholder="Servidor"
                   ng-model="services.server"
                   name="Servidor"
                   type="text"
                   required>
          </div>
          <div class="col-xl-3">
            <label for="">Serial:</label>
            <input id="validation-email"
                   class="form-control"
                   placeholder="Serial"
                   ng-model="services.serial"
                   name="serial"
                   type="text"
                   required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl-12">
            <label for="">Comentarios:</label>
            <textarea name="address" data-ng-model="services.comments"
                       class="form-control"
                       placeholder="Comentarios">

            </textarea>
          </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Guardar</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
      </div>
    </form>
  </script>

</div>
